.root {
    background: #00B9CB;
    background-image: url('../../public/world.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 10;
}

.rootLogo {
  width: 50%;
}

.authButton {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
    border-radius: 70px;
    width: 491px;
    height: 108px;

    font-family: Acrom;
    font-size: 36px;
    line-height: normal;
    text-align: center;

    color: #757575;
}

@media screen and (max-width: 420px) {
  .authButton {
    height: 50px;
    font-size: 20px;
    width: 100%;
  }
}

.block {
  font-family: Acrom;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;  
  overflow: hidden;

  color: #343434;

  background: #00B9CB;
  height: 738px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 420px) {
  .block {
    height: 600px;
    font-size: 16px;
  }
}

.textGirl {
  padding: 82px 140px 16px 60px;
  position: absolute;
  left: 10%;
  top: 12%;
  width: 35%;
  background: #FFFFFF;
  z-index: 10;
}

@media screen and (max-width: 420px) {
  .textGirl {
    padding: 5px;
    position: absolute;
    left: 10%;
    top: 12%;
    width: 80%;
    background: #00B9CB;
    z-index: 10;
  }
}

.imageGirl {
  z-index: 0;
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}

@media screen and (max-width: 420px) {
  .imageGirl {
    background: #00B9CB;
  }
}

.blockWhite {
  font-family: Acrom;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;

  color: #343434;

  background: #ffffff;
  height: 430px;
  display: flex;
  position: relative;
}

.imagePhone {
  z-index: 100;
  position: absolute;
  left: 10%;
  top: -10%;
  width: 40%;
  height: 130%;
}

@media screen and (max-width: 420px) {
  .imagePhone {
    display: none;
  }
}

.textPhone {
  padding: 20px;
  position: absolute;
  top: 25%;
  right: 10%;
  width: 35%;
  background: #FFFFFF;
  z-index: 10;
}

@media screen and (max-width: 420px) {
  .textPhone {
    padding: 5px;
    position: absolute;
    left: 10%;
    top: 12%;
    width: 80%;
    background: #FFFFFF;
    z-index: 10;
    font-size: 16px;
  }
}

.blockGreen {
  font-family: Acrom;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;

  color: #343434;

  background: #00B9CB;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.textGreen {
  padding: 20px;
  position: absolute;
  right: 10%;
  width: 35%;
  background: #FFFFFF;
  z-index: 10;
}

@media screen and (max-width: 420px) {
  .blockGreen {
    justify-content: space-evenly;
  }
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  align-items: center;
}
